.jumbotron {
    background-color: darkblue;
    color: white;
    text-align: center;

}

.content {
    display: flex;
    align-items: center;
}

.card {
    margin-left:auto;
    margin-right:auto;
    min-width: 70vw;
}

#form-group
